<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link href="/stylesheets/humburgers.css" rel="stylesheet">
    <link href="/stylesheets/body.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Rfoof</title>

    <nav>
        <div class="logo">Rfoof</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Work</a></li>
            <li><a href="/">Projects</a></li>
        </ul>

        <button id="burgerDisplay" class="  hamburger hamburger--slider " type="button">
            <span id="buns" class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>



</head>

<body>

<div id="content">
    <div class="container container1">
     
   <div class="TextBox">
   <p class="rfoof">RFOOF</p>
        <p>A revolutionary approach to inventory management
        </p>
        </div>
    </div>

    <div class="container container2">
        <img id="phone" src="/imgs/PhoneNew.png" alt="">
        <img id="download" src="/imgs/pngfuel.com.png" alt="">
     
    </div>

    <div class="container container3">
        <div class="card">
            <img src="/imgs/scan.png" alt="">
            <p class="discripHead">
              Qr scaning   </p>
                <p class="discrip" >Gneretate QR codes for your products, scan them, then ship !</p>
             

        </div>
        <div class="card">
            <img src="/imgs/Multiplatform.png" alt="">
            <p class="discripHead">
                Multiplatformed  </p>
                  <p class="discrip" >Track your inventory from any device</p>

        </div>
        <div class="card">
            <img src="/imgs/data.png" alt="">
            
            <p class="discripHead">
                Sales analysis  </p>
                  <p class="discrip" >RFOOF uses data analytics technologies to provide a full business monitoring experience</p>
        </div>
        <div class="card">
            <img src="/imgs/custom.png" alt="">
            <p class="discripHead">
                Personalization </p>
                  <p class="discrip" >Customize your dashboard to fit your business needs</p>
           
        </div>
    </div>


    <div class="container container4"> 
     

 <p id="Appdiscrip" > <span class="rfoof ">RFOOF</span> is an inventory management app for small business owners who seek a simple
            inventory management solution. 
    
            RFOOF offers a flat learning curve and friendly user interface with a completely portable system that 
           fits today's e-commerce demand.</p>

    
       
    </div>

    <div class="fotter">
        
       
       <div>
               <a href=""><img  class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/gmail.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/phone--v1.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" alt=""></a>
        
         </div>
        
 <p id="copyrights">	&copy; 2020 RFOOF.com </p>

    </div>


</div>

    <script src="/javascripts/navLogic.js"></script>
</body>

</html>