<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link href="/stylesheets/humburgers.css" rel="stylesheet">
    <link href="/stylesheets/body.css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Rfoof</title>
    <div id="content">
        <div class="parent">
    <nav>
        <div ><img class="logo" src="/imgs/logo.png" alt=""></div>
        <ul class="nav-links">
            <li><a href="#1">Home</a></li>
            <li><a href="#2">Download</a></li>
            <li><a href="#3">About</a></li>
            <li><a href="#4">Contact</a></li>
        </ul>

        <button id="burgerDisplay" class="  hamburger hamburger--slider " type="button">
            <span id="buns" class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>

</div>

</head>

<body>


    <div id="1" class="container container1">
     
   <div class="TextBox">
   <p class="rfoof">RFOOF</p>
        <p>A revolutionary approach to inventory management
        </p>
        </div>
    </div>

    <div id="2" class=" container container2">
        
        
        <img    data-aos-duration="1500" id="phone" src="/imgs/PhoneNew.png" alt="">
        <img     data-aos-duration="1500" id="download" src="/imgs/pngfuel.com.png" alt="">
    
    </div>

    <div id="3" class="container container3">
        <div class="card" data-aos="fade-up">
            <img src="/imgs/scan.png" alt="">
            <p class="discripHead">
              Qr scaning   </p>
                <p class="discrip" >Gneretate QR codes for your products, scan them, then ship !</p>
             

        </div>
        <div class="card" data-aos="fade-up">
            <img src="/imgs/Multiplatform.png" alt="">
            <p class="discripHead">
                Multiplatform   </p>
                  <p class="discrip" >Track your inventory from any device</p>

        </div>
        <div class="card" data-aos="fade-up">
            <img src="/imgs/data.png" alt="">
            
            <p class="discripHead" >
                Sales analysis  </p>
                  <p class="discrip" >RFOOF uses data analytics technologies to provide a full business monitoring experience</p>
        </div>
        <div class="card" data-aos="fade-up">
            <img src="/imgs/custom.png" alt="">
            <p class="discripHead">
                Personalization </p>
                  <p class="discrip" >Customize your dashboard to fit your business needs</p>
           
        </div>
    </div>


    <div id="4" class="container container4"> 
     

 <p id="Appdiscrip" data-aos="fade-right" > <span class="rfoof ">RFOOF</span> is an inventory management app for small business owners who seek a simple
            inventory management solution. 
    
            RFOOF offers a flat learning curve and friendly user interface with a completely portable system that 
           fits today's e-commerce demand.</p>

    
       
    </div>

    <div class="fotter">
        
       
       <div>
               <a href=""><img  class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/gmail.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/phone--v1.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"/></a>
            <a href=""><img class="icon" src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" alt=""></a>
        
         </div>
        
 <p id="copyrights">	&copy; 2020 RFOOF.com </p>

    </div>


</div>

    <script src="/javascripts/navLogic.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>